body {
	font-family: Helvetica, Arial, sans-serif, serif;
	color: #333333;
	font-size: 12px;
	max-width: 960px;
	background-color: #9AD4F0;
}

header {
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	background-color: #36A9E1;
	margin: 0px;
	margin-bottom: 25px;
	padding: 15px;
	border-style: none;
}

footer {
	text-align: center;
	font-size: 0.8em;
	background-color: #36A9E1;
	margin: 0px;
	margin-top: 25px;
	padding: 15px;
	border-style: none;
}

main {
	background-color: #36A9E1;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav {
	background-color: #E69B65;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
}

section {
	background-color: #E69B65;
	text-align: left;
	border-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

figure {
	margin: 10px 5px;
	background-color: #F2CDB2;
	padding: 5px;
	border-width: 2px;
	border-color: #734D32;
	border-style: solid;
	max-width: 60%;
}

img {
	max-width: 100%;
	height: auto;
}

/*
Den Kas mit der Klasse, hab ich nur wegen der Angabe mit den 250px machen
müssen ;-)
Vielleicht gehts ja auch einfacher

die erste definition der klasse sollte eigentlich ausreichen für die 250px
die zweite definition von .figure_blog>img ist zur Sicherheit, in der
	Hoffnung, das es keinen Punkteabzug gibt.
die dritte definition (auskommentiert) section>article>figure>img war der
	Ausgangspunkt, aber da hat das hinterlegen der images nicht gfunzt.
*/

.figure_blog {
	margin: 10px 5px;
	background-color: #F2CDB2;
	padding: 5px;
	border-width: 2px;
	border-color: #734D32;
	border-style: solid;
	max-width: 250px;
}

.figure_blog>img {
	width: 250px;
	height: auto;
}
/*
section>article>figure>img {
	width: 250px;
	height: auto;
}
*/
section article figure figcaption {
	font-size: 0.8em;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

section>article>h5 {
	margin-bottom:10px;
}

p {
	padding-bottom: 5px;
}

em {
	font-weight: bold;
}

strong {
	font-style: italic;
}

time {
	font-size: 0.6em;
}